* {
  box-sizing: border-box;
  flex-direction: column;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
 /*background-color: #1E0555;*/
}
body, .quote-input {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#181D27;
  font-weight: bold;
}

.game-container {
  background-color: #DBF7EE;
  border-radius: .5rem;
  min-height: 50vh; /* or 50% of the viewport's height */
  width: 60%; 
  display: flex;
  margin-top: 20px;
  margin-left: 20%;
}

.container {
  background-color: #F9DAE7;
  padding: 1rem;
  border-radius: .5rem;
  width: 700px;
  max-width: 90%;
  margin: auto; /* This will center the container if its width is less than 100% of its parent */
  display: flex;
  flex-direction: column;
  align-items: center; /* Align children (quote-display, quote-input) in the center */
}

.timer {
  margin-top: 40px;
  text-align: center;
  top: 2rem;
  font-size: 3rem;
  color: #E8AEB7;
  font-weight: bold;
}

.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

.quote-input {
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .5rem;
}

.quote-input:focus {
  border-color: black;
}

.correct {
  color: #4DAA57;
}

.incorrect {
  color: red;
  text-decoration: underline;
}

/* GAME OVER POP UP */
.logo-no-bg {
  justify-content: center;
  width: auto;
  height: 200px;

  /* Reset background image for cursor inside modal */
  .cursor.inside-modal {
      display: none;
  }
}

.modal {
  display: none;
  border-radius: 10px;
  display: flex; /* for responsiveness*/
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px; 
  height: auto; 
  background-color: pink;
  overflow: hidden;
}

.modal-content {
  margin: 10% auto;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-header h3{
  font-size: 60px;
  font-family: 'Honk', system-ui;  
  color:black;
}

.modal-body {
  margin-top:20px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color:black;
}
.modal-header p{
  font-family: 'Open Sans', sans-serif;
  font-size: 15px;
  color: black;
}
.modal-close-btn {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.top-nav {
  display: flex;
  flex-direction: row;
}
.brand-name{
  justify-content: center;
}
.top-nav-icons {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.search-box{
  flex-direction: row;
}
.navbar{
  flex-direction: row;
}
.footer-content{
  color:black;
  display: flex;
  flex-direction: row;
}
.footer-bottom{
  background-color: white;
  color:black;
}
.footer-container{
  display: flex;
  text-align: center;
  justify-content: center;
}
.social-icons{
  display: flex;
  flex-direction: row;
}

