html, body {
	background: white;
	font-size: 15px;
	font-family: Arial;
	margin: 0;
	padding: 0;
}

.game-container {
    display: flex;
    flex-direction: column;
    width: 800px;
    margin: 0 auto;
    justify-content: baseline;
    margin-top: 50px; /* Adjust this value as needed to push the canvas down */
}

.site-footer,
.top-nav{
	background-color: white;
	margin:0;
}
.nav-bar{
	height:100px;
}
canvas {
	width:100%;
	background: #eee;
	margin-top: 200px;
	/*background: #fff;*/
}
.top-nav {
	display: flex;
	justify-content: space-between;
	color: black;
  }
  
  
.controls {
	text-align: right;
	color: #aaa;
}