*{
  padding:0;
  margin:0;
  overflow-x: hidden;
}

/* STYLE FOR ALL PAGES*/
/*MOBILE VERSION HAMBURGER*/
#menuToggle,.mobile-icons,#mobile-brand-name,.mobile-lottie-background{
  display: none;
}
/*PROMOTION BAR*/
.promotion-bar{
  background-color: black;
  color:white;
  height: 30px;
  width:100%;
}
.promotion-bar p{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  text-align: center;
}
/*WELCOME USER STYLE*/
.top-left-container {
  position: absolute;
  margin-top: 35px;
  margin-left: 60px;
  color: #707070;
  font-size: 2vw;
  font-family: 'Open Sans', sans-serif;
}
.top-nav {
display: flex;
justify-content: space-between;
color: black;
height: 350px;
}
.icon-cart {
  text-decoration: none;
  color: #000;
  font-size: 30px; /* Adjust size as needed */
  margin: 0 10px; /* Add space between icons */
}
.brand-name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 55px;
  margin-top: 10px;
  color: #000;
  text-decoration: none; /* i dont want it to be underlined */
  margin-left: 550px;
  }
  
  .top-nav-icons{
  display: flex;
  align-items: center;
  margin-top: -220px;  /*Shift the icons up*/
  
  }
.search-container {
position: relative;
}
.search-box {
display: flex;
align-items: center;
}

.search-input {
border: 1px solid #ccc;
padding: 5px 10px;
border-radius: 5px;
}

.search-button {
background: none;
border: none;
padding: 5px 10px;
cursor: pointer;
outline: none;
background-color: transparent;
}

/* FOR ICONS ON TOP NAV*/
.icon-link {
text-decoration: none;
color: #000;
font-size: 30px; /* Adjust size as needed */
margin: 0 10px; /* Add space between icons */
}

.icon-link:hover {
color: #555; /* Change color on hover */
}

/* FOR NAVBAR  */
.navbar {
  background-color: white;
  display: flex;
  justify-content: center; /* Center-align items */
  margin-top: -230px;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 28px;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 35px; /* Space between the diff categories */
  font-family: 'Inter Tight', sans-serif;
}

/* The dropdown container */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 28px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  margin: 0 35px; /* Space between the diff categories */
  font-family: 'Inter Tight', sans-serif;
}

.navbar a:hover, .dropdown:hover .dropbtn {
  color: #757575;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 2001;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: transparent;
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

#user-points{
  display: none;
}
/* FOOTER */
.site-footer {
  font-family: 'Inter Tight', sans-serif;
}

.footer-top {
  text-align: center;
}

.footer-divider {
  width: 100%;
  border: 1px solid #000; /* Adjust the thickness and color as needed */
}

.footer-content {
  display: flex;
  justify-content: space-around; /* Spreads out the sections */
  align-items: start;
  padding: 20px;
  margin-left: 55px;
  margin-top: 20px;
}

.footer-section h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bolder;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.footer-section ul li{
  text-decoration: none;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

.app-download a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}

.app-download a img {
  height: 9vw;
  width: auto;
}


.qr-code {
  display: none;
  position: absolute;
  width: 20px; 
  height: 20px; 
  top: -100%; /* Position the QR code just ABOVE the button */
  left: 5%; /* Center horizontally */
  transform: translate(-50%, 0); /* Center based on its own size */
  transform: translateX(-50%);
  border-radius: 20px;
}

.footer-section-sign-up h5{
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bolder;
}

.footer-section-sign-up h6{
  margin-bottom: 10px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  max-width: 85%;
  font-weight: lighter;
}

.footer-section-sign-up form {
  align-items: center; /* Aligns items vertically */
  max-width: 300px; /* Adjust the value as needed */
  margin: 0 auto; /* Center the form horizontally */
  display: flex; /* Use flexbox for alignment */
  flex-direction: column; /* Align items vertically */
}

.footer-section-sign-up form input,
.footer-section-sign-up form button {
  margin: 5px 0; /* Adds some space between the input and the button */
  padding: 9px;
}

.footer-section-sign-up form input {
  margin: 5px; /* Adds some space between the input and the button */
}

.footer-bottom {
  background: #fff; 
  border-top: 1px solid #ccc; 
  padding: 20px 0;
}

.country-notice {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-left: 0px; /* Adjust the value as needed */
}
.social-icons {
  overflow-y: hidden;
  display: flex;
  justify-content: center;
  margin-left: 0px;
  margin-top: 15px;
}

.social-icon {
  margin: 8px; /* Adjust the margin as needed */
}  

.legal-links {
  text-align: center;
  margin-top: 20px;
}

.legal-links p {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}  

.legal-links p:hover {
  text-decoration: underline;
}


/* INDEX PAGE : MAIN SLIDESHOW  */
.slideshow-container {
position: relative;
}

.slideshow-container img{
  height: auto;
  width: 100%;
}

/* Hide the images by default */
.mySlides {
display: none;
}

/* Next & previous buttons */
.prev, .next {
cursor: pointer;
position: absolute;
top: 50%;
width: auto;
margin-top: -22px;
padding: 16px;
color: white;
font-weight: bold;
font-size: 18px;
transition: 0.6s ease;
border-radius: 0 3px 3px 0;
user-select: none;
}

/* Position the "next button" to the right */
.next {
right: 0;
border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
background-color: rgba(0,0,0,0.8);
}

/* The dots/bullets/indicators */
.dot {
cursor: pointer;
height: 15px;
width: 15px;
margin: 0 2px;
background-color: #bbb;
border-radius: 50%;
display: inline-block;
transition: background-color 0.6s ease;
}

.active, .dot:hover {
background-color: #717171;
}

/* Fading animation */
.fade {
animation-name: fade;
animation-duration: 1.5s;
}

@keyframes fade {
from {opacity: .4}
to {opacity: 1}
}

/* INDEX PAGE : FOR THE POP UP */
.popup-overlay {
display: flex;
justify-content: center;
align-items: center;
position: fixed;
top: 0;
left: 0;
width: 100%;
height: 100%;
background: rgba(0, 0, 0, 0.8); /* Dimmed background */
z-index: 100; /* Ensures the popup is above other content */
}

/* Popup Content */
.popup-content {
background: #fff; /* White background for the popup */
width: 47%; /* Adjust width as needed */
max-width: 1044px; /* Maximum width of the popup */
padding: 2em;
box-shadow: 0 5px 15px rgba(0,0,0,0.2); /* Adds shadow around the popup */
display: flex;
justify-content: center; /* Center the content */
align-items: center; /* Aligns items vertically in the center */
position: relative; /* Enables absolute positioning for children */
border: 15px solid #000; /*for black border */
}

/* Close Button */
.close-btn {
position: absolute;
top: 1em;
right: 1em;
cursor: pointer;
font-size: 1.5em;
background: none;
border: none;
}

/* Popup Text Content */
.popup-text {
width: 50%; /* Adjust the width as needed */
display: flex;
justify-content: center; /* Centers the text content */
flex-direction: column; /* Stack children vertically */
}

.popup-text h2 {
font-size: 40px; /* Large font size for the heading */
word-wrap: break-word;
}

.popup-text p {
font-size: 1.2em; /* Adjust as needed */
margin-bottom: 10px; /* Spacing between the paragraph and the form */
margin-left: 10px;
}

#email-form {
display: flex;
flex-direction: column; /* Stacks the form elements vertically */
gap: 0.5em; /* Spacing between form elements */
}

#email-form input[type=email] {
padding: 1.3em; /* Spacing inside the input */
font-size: 1em; /* Text size within the input */
border: 1px solid #ccc; /* Border around the input */
border-radius: 5px; /* Rounded corners */
margin-top: 10px;
}

#email-form button {
  display: flex;
  justify-content: center;
  padding: 1em; /* Spacing inside the button */
  font-size: 1em; /* Text size within the button */
  border: none;
  border-radius: 5px; /* Rounded corners */
  cursor: pointer;
  margin-top: 0.5em; /* Space above the button */
}

#newsletter-submit {
background-color: #c997a2; /* Pink background */
color: white; /* White text */
display: flex;
justify-content:center;
max-width: 100%;
}


.no-thanks-btn {
background: transparent;
color: #a4bdbf; /* Blue text */
text-decoration: underline;
}

.popup-image {
width: 40%; /* Decrease width as needed */
margin-left: auto; /* Pushes the image to the right */
display: flex;
justify-content: flex-end; /* Aligns the image to the right */
}

.popup-image img {
width: 100%; /* Make the image fill the container */
height: auto; /* Maintain aspect ratio */
}

/*INDEX PAGE: CIRCLES FOR SHOP BY CATEGORY*/
.categories-container {
  text-align: center;
  font-family: Arial, sans-serif;
  margin-top: 80px;
}

.category {
  display: inline-block;
  margin: 10px;
  position: relative;
  text-align: center;
}

.category img {
  width: 235px; /* Adjust as needed */
  height: 235px; /* Adjust as needed */
  border-radius: 50%; /* Makes the image circular */
  display: block;
  margin: 0 38px; /* Centers the image */
  
}
.categories-container h2{
  color: #000;
  text-decoration: none;
  margin-top: 40px;
  margin-bottom: 30px;
  font-size: 40px;
}
.categories-container h3{
  color: #000;
  text-decoration: none;
  margin-top: 30px;
  font-size: 30px;
}
.category-label { /* this is the text that appears when you hover the circular img */
  display: block;
  font-size: 28px;
  height: 38%; /*Center the text*/
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: nowrap;
  color: #000;
}

/* Hover effect */
.category a:hover img {
  opacity: 0.9;
}
.category a:hover .category-label {
  opacity: 1;
}

/* INDEX PAGE: PRODUCT DISPLAY , UNDER NEW FOR YOU*/
.product-carousel h2 , .product span{
font-family: Arial, sans-serif;
font-size: 40px;
margin-bottom: 30px;
margin-top: 50px;
}
.product-carousel {
margin:0;
text-align: center;
width: 100%;
height:auto;
margin-top: 80px;
}

.product img {
width: 100%; /* This ensures the image takes the full width of the .product */
height: auto; /* This ensures the image height scales with the width to maintain aspect ratio */
vertical-align: middle;
transition: opacity 0.5s ease; /* Smooth transition for opacity */
}

.product-info {
padding: 10px 0; /* Add padding to create space around the text */
}

.product-row {
display: flex;
justify-content: center;
padding: 20px;
}

.product {
position: relative;
width: 350px; /* increase size of the whole thing (eg the image and name and color and size) the whole thing basically */
border: 1px solid #ccc;
border-radius: 5px;
margin: 0 18px;
background: #fff;
}

.product-image {
width: 100%;
display: none;  /* Hide the image by default  */
}

.product-image.active {
display: block; /* Show the active image */
}

.product-info {
padding: 10px;
text-align: center;
}

.product-image-container {
position: relative;
}

.arrow {
position: absolute;
top: 40%; /* The lesser this is, the more up the arrow goes */
transform: translateY(-50%);
background-color: transparent;
border: none;
cursor: pointer;
}

.left-arrow {
left: 10px;
}

.right-arrow {
right: 10px;
}

.heart-icon {
position: absolute;
top: 15px;
right: 15px;
font-size: 30px;
cursor: pointer;
color: #000; /* Default color */
}

.heart-icon:hover,
.heart-icon.clicked {
color: pink; /* Pink color on hover and when clicked */
}

.product-info {
padding: 10px;
text-align: center;
}

.product-name {
font-size: 23px;
margin-bottom: 5px;
}
.product-price {
font-size: 25px;
color: #555;
margin-bottom: 5px;
}
.product-size{
font-size: 19px;
color: #555;
margin-top: 10px;
}
.product-colors{
margin-bottom: 5px;
}

.color-options {
display: flex;
justify-content: center;
margin-top: 10px; /* Add some space above the color options */
}

.color-option {
width: 20px; /* Size of the color circle */
height: 20px; /* Size of the color circle */
border-radius: 50%; /* Make it round */
margin: 0 5px;
cursor: pointer;
}
.color-option:hover{
  border: 2px solid black;
}

.add-to-cart-btn {
  padding: 11px 100px;
  background-color: #000; /* or your preferred color */
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 15px; /* Increase this value to push the button down */
  margin-bottom: 10px; /* Adjust this as needed */
  border-radius: 5px; /* Optional: if you want rounded corners */
  font-size: 50%;
  text-decoration: none;
  display: block; /* This will make it a block element */
}

/* INDEX PAGE: ADD TO CART FUNCTION */
.cart-sidebar {
  position: fixed;
  right: -400px; /* Hide by default */
  top: 0;
  width: 400px;
  height: 100%;
  background: white;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s;
  z-index: 1000;
  display: flex; /* Use flex layout */
  flex-direction: column; /* Arrange children vertically */
}

/* Adjust the container of the cart items to make it scrollable */
#cartItemsContainer {
  flex-grow: 1; /* Allows this element to expand to fill available space */
  overflow-y: auto; /* Enables vertical scrolling if content overflows */
  padding: 1em; /* Provide some spacing around items */
}

.cart-sidebar-footer {
  position: sticky; /* Use sticky to keep it at the bottom */
  bottom: 0px;
  background: white; /* Match the sidebar background */
}

.cart-sidebar.open {
  right: 0; /* Show sidebar */
}

.cart-sidebar-header {
  padding: 1em;
  background: black;
  color: white;
  margin-bottom: 0px;
  top:0;
  z-index: 10;
  position: sticky;
}

.cart-sidebar-header h2{
  font-size: 50px;
  text-align: center;
  margin-top: 20px;
}
.cart-sidebar-footer {
  position: sticky;
  bottom: 0;
  z-index: 10;
  /* Other styles */
}
#checkoutButton {
  width: 100%; /* to stretch across the sidebar */
  /* Other styles */
}


.cart-sidebar-header button {
  float: right;
  background: none;
  border: none;
  color: white;
  font-size: 1.5em;
  cursor: pointer;
}

.cart-items {
  padding: 1em;
  overflow-y: auto;
}

.cart-item {
  display: flex; /* Establish flex container */
  align-items: center; /* Align children vertically */
  justify-content: space-between; /* Distribute space between children */
  margin-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
#cartItemsContainer {
  /* Other styles */
  padding-bottom: 70px; /* at least equal to or more than the footer's height */
}


.product-info {
  display: flex; /* Establish flex container */
  flex-direction: column; /* Stack children vertically */
  justify-content: center; /* Center children */
  align-items: center; /* Center children horizontally */
  flex-grow: 1; /* Allow this item to grow to fill space */
  text-align: center; /* Center the text */
  font-size: 40px;
}

.product-info h4, .product-info p {
  margin: 0; /* Remove default margin */
}

.quantity-control {
  display: flex; /* Establish flex container */
  flex-direction: column; /* Stack children vertically */
  align-items: center; /* Center children horizontally */
  justify-content: center; /* Center children */
}


#checkoutButton {
  width: 100%;
  padding: 28px;
  background: black;
  color: white;
  font-size: 23px;
  border: none;
  cursor: pointer;
}

.cart-item-image {
  width: 130px; /* or the size you want */
  height: auto;
  margin-right: 10px; /* Add some space between the image and the text */
}

.product-info button{
  padding: 11px 5px;
  background-color: #000; /* or your preferred color */
  color: #fff;
  border: none;
  cursor: pointer;
  margin-top: 15px; /* Increase this value to push the button down */
  margin-bottom: 10px; /* Adjust this as needed */
  border-radius: 5px; /* Optional: if you want rounded corners */
  font-size: 30px;
  text-decoration: none;
  display: block; /* This will make it a block element */
}

.cart-item-controls button {
  font-size: 20px; /* You can adjust the font size as needed */
  width: 30px; /* Adjust the width as needed */
  height: 30px; /* Adjust the height as needed */
  margin: 0 4px; /* Add some margin for spacing */
  
}

.cart-item-details h3 {
  font-size: 20px; /* You can adjust the font size as needed */
}

.cart-item-details p {
  font-size: 20px; /* You can adjust the font size as needed */
}

#totalPrice {
  text-align: center;
  font-size: 25px; /* You can adjust the font size as needed */
}

/* INDEX PAGE: PROMO CONTAINER*/
.promo-container {
  display: flex;
  align-items: flex-start;
  margin-top: 20px;
}

.promo-card {
  position: relative;
}

.promo-card img {
  width: 730px;
  height: 730px;
  display: block;
  margin: 58px;
}

.promo-code {
  position: absolute;
  top: 30px;
  background-color: red;
  color: white;
  padding: 5px;
  font-size: 32px;
  margin-left: 20px;

}

.promo-link {
  position: absolute;
  bottom: 110px; /* Distance from the bottom */
  left: 50%;
  transform: translateX(-50%);
  background-color: black;
  color: white;
  padding: 5px;
  text-decoration: none;
  font-size: 40px;
  white-space: nowrap; /* Ensure the text does not wrap */
}
/* INDEX PAGE: ABOVE FOOTER*/
.above-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.leaderboard-container,
.rewards-program {
  flex: 1; /* Each box will take up an equal amount of space */
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically *//
}

.leaderboard-link{
  display: block;
  background-color: #fff0f7; /* Your choice of color */
  padding: 78px;
  font-size: 45px;
  text-decoration: none;
  color: #333; /* Your choice of text color */
  font-weight: bold;
  margin: 20px;
}

/* This is for the rewards link to not stretch beyond its content */
.rewards-link {
  display: block;
  background-color: #ffffe6 ;
  padding: 78px;
  font-size: 45px;
  text-decoration: none;
  color: #333; /* Your choice of text color */
  font-weight: bold;
  margin: 20px;
}

.about-section {
  text-align: center;
  color: black; 
  margin-top: 40px;
  margin-bottom: 40px;
  margin-left: 250px;
  font-size: 20px;
  max-width: 70%;
}

.about-section h1{
  font-size: 35px;
  margin-bottom: 13px;
  margin-top: 50px;
}
.about-section p {
  margin: 0;
  padding: 0;
  margin-bottom: 80px;
  font-size: 22px;
}

/*FOR ALL PRODUCT PAGES*/
/*for product page breadcrumbs and filter*/
.filter-bar {
display: flex;
justify-content: space-between;
align-items: center;
padding: 15px;
font-family: Arial, sans-serif;
}

.breadcrumbs {
display: flex;
gap: 10px; /* This creates space between items */
margin-bottom: 20px; /* Adjusted from 100px to reduce the space */
font-size: 20px;
}

.filters {
display: flex;
gap: 15px; /* This creates space between items */
font-size: 14px; /* Increased from 10px for better readability */
/* Removed margin-right: 750px; */
}

.view-options {
display: flex;
gap: 15px; /* This creates space between items */
margin-left: auto; /* This will push the view-options to the right */
}

.filters span, .view-options span {
cursor: pointer;
font-size: 14px;
}

.filters span:hover, .view-options span:hover {
text-decoration: underline;
}

/* Styling for the 'Next Page' arrow */
.view-options span:last-child {
font-weight: bolder; /* Make the arrow bold */
}

.fa fa-angle-down {
font-size: 10px; /* Changed from 'size' to 'font-size' */
}
/*for product page product showcase*/
.product-page-product-carousel{ /* diff from the index's product carousel bc index dont need shift up, but in product page need shift up */
margin:0;
text-align: center;
width: 100%;
height:auto;
margin-top: 20px;
}

/* If there is still a gap, reduce the top margin of NEW LAUNCHES */
.product-page-product-carousel h2 {
font-family: Arial, sans-serif;
font-size: 40px;
margin-bottom: 30px;
margin-top: 20px; /* Reduced from 50px */
}

.product-page-product{ /* cause want make it bigger on display purely products page, but i dont want it bigger on index so i make separate */
position: relative;
width: 365px; /* increase size of the whole thing (eg the image and name and color and size) the whole thing basically */
border: 1px solid #ccc;
border-radius: 5px;
margin: 0 18px;
background: #fff;

}

/* SALES PAGE */
.original-price {
text-decoration: line-through;
color: #ff0000; /* Or any color that indicates the price is not current */
font-size: 21px;;
margin-left: 10px;
}

.sale-price {
color: #009900; /* A color that indicates a sale, usually a type of green or red */
font-size: 28px;
}

/* LOGIN PAGE */
/* Main container that holds both the image and the form */
.login-page-container {
display: flex;
align-items: center;
justify-content: center;
height: 100vh; /* Full height of the viewport */
padding: 1rem;
box-sizing: border-box;
margin-right: 90px; /* shift to the left */
overflow-y: hidden;
}

/* Container for the image */
.login-image-container {
flex: 1; /* take up half the space */
display: flex;
align-items: center; /* Center the image vertically */
justify-content: center; /* Center the image horizontally */
max-width: 50%; /* Adjust the maximum width as needed */
padding-right: -5px;
}

/* Container for the form */
.login-form-container {
flex: 1; /* take up the other half of the space */
display: flex;
align-items: center; /* Center the form vertically */
justify-content: center; /* Center the form horizontally */
max-width: 50%; /* Adjust the maximum width as needed */
}

/* Styles for the image */
.login-image-container img {
width: auto; /* Adjust width as needed */
max-height: 100%; /* Full height to maintain aspect ratio */
}

/* Styles for the form */
.login-form {
width: 100%;
max-width: 400px; /* Adjust the maximum width as needed */
}

.login-form h1 {
font-family: 'Roboto Condensed', sans-serif;
font-size: 85px;
}

.tagline {
margin-bottom: 2rem;
color: #555;
}

#buttons {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 1rem;
}

input[type="text"],
input[type="password"],
input[type="email"]{
width: 100%;
padding: 0.95rem;
border: 1px solid #ddd;
border-radius: 5px;
margin-bottom: 0.5rem;
}

input[type="checkbox"] {
  margin-right: 0.5rem;
}

.forgot-password {
  display: block;
  text-align: right;
  margin-bottom: 1rem;
  color: #0066cc;
  text-decoration: none;
}
.forgot-password:hover{
  text-decoration: underline;
  cursor: pointer;
}

.sign-in-button,
.sign-up-button {
width: 100%;
padding: 0.75rem;
border: none;
border-radius: 5px;
background-color: #0056b3;
color: white;
cursor: pointer;
}
.sign-up-button{
  background-color: #1B2CC1;
}
.sign-in-button:hover,
.sign-up-button:hover {
background-color: #003d82;
}

.log-out-button{
  background-color: cadetblue;
  width: 100%;
  padding: 0.75rem;
  border: none;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.sign-in-button:hover,
.sign-up-button:hover,
.log-out-button {
  background-color: #003d82;
}
/* LEADERBOARD PAGE */
.leaderboard-contents {
  font-family: 'Inter Tight', sans-serif;
  background-color: #B5D6D6; /* Dark purple background */
  border-radius: 25px;
  padding: 20px;
  margin: 20px auto; /* Center the container */
  width: 90%; /* Adjust based on your design */
  max-width: 600px; /* Maximum width */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
}

.leaderboard-title {
  background-color: #E0FBFC; /* Pink color */
  color: black;
  text-align: center;
  font-size: 2em;
  padding: 40px 0;
  border-radius: 18px;
  margin: -1.5em auto 1em; /* Adjusted for positioning */
  width: 50%;
  word-wrap: break-word;
}

.leaderboard-list {
  list-style: none;
  padding: 0;
  margin: 0;
}

.leaderboard-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  border-bottom: 1px solid #ddd;
}

.leaderboard-name {
  flex-grow: 1;
  margin-left: 10px; /* Space from rank or icon */
}

/* ALL GAMES PAGE */
#our-games{
  text-align: center;
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 50px;
}
.rewards-container {
  text-align: center;
  padding: 50px 0;
  background-color: #fff; /* Assuming a white background */
  color: black; /* Text color */
  font-family: 'Arial', sans-serif; /* Change to your preferred font */
  margin-top: -13px; /* To shift it up */
}
.text-background {
  background-color: rgba(242, 221, 239, 0.5); /* Light background, you can adjust the opacity as needed */
  display: block; /* Change this to block so it fills the container */
  padding: 80px; /* Adjust the padding to control the space around your text */
  margin: 0 auto; /* Center the block */
  width: 100%; /* so that background covers the whole of width of page */
  box-sizing: border-box; /* Include padding and border in the width and height of the element */
}

h1 {
font-size: 60px; /* Big, bold text for the header */
margin-bottom: 40px; /* Space below the header */
}
.buttons-container {
  height: 100px;
  display: flex;
  justify-content: center; /* Aligns content horizontally in the center */
  align-items: center; /* Aligns content vertically in the center */
}

.rewards-button {
  padding: 15px 100px; /* Padding top increased to shift button up */
  border: none;
  background-color: black; /* Button background color */
  color: white; /* Button text color */
  font-size: 25px; /* Text size inside buttons */
  cursor: pointer; /* Changes the cursor to a pointer on hover */
  text-decoration: none;
  margin-bottom: 50px;
  text-align: center; /* Center align text */
}


.rewards-button:hover {
  background-color: grey; /* Hover effect for the button */
}

.rewards-footer {
font-size: 0.75em; /* Smaller text for the footer */
margin-top: 20px; /* Space above the footer text */
color: #333; /* Slightly darker text color for the footer */
}

.games-container {
text-align: center;
padding: 50px 0;
border-radius: 50%;
}

.games-container h2 {
margin-bottom: 60px;
font-size: 50px;
font-family: 'Arial', sans-serif; /* Change to your preferred font */
}

.game {
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  align-items: center; /* Horizontally center the children in a column */
  gap: 20px;
  text-decoration: none;
}
  
.game img {
  margin-top: 50px;
  width: 400px; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  border-radius: 50%; /* Make the image round */
  border: 4px solid black; /* Border for the image */
  transition: transform 0.3s ease; /* Animation for hover effect */
}

.game img:hover{
  transform: scale(1.1); /* Enlarge the image to 110% of its original size */
}

.game p {
display: block;
margin-top: 10px;
margin-bottom: 55px;
font-size: 30px; /* Font size for the text below the image */
color: #000;
font-family: 'Arial', sans-serif; /* Change to your preferred font */
font-weight: 600;
}

/*TRIVIA QUIZ PAGE*/
:root{
  --light-purple-color: #8854C0;
  --light-color: #fff;
  --dark-color: #000;
  --grey-color: #f2f2f2;
  --transition: all 300ms ease-in-out;
}
.quiz-container{
  width:100%;
  position: relative;
  min-height:900px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.wrapper{
  overflow-y: hidden;
  font-family: 'Poppins', sans-serif;
  padding: 1.5rem 4rem 3rem 4rem;
  position: relative;
  border-radius: 10%;
  box-shadow: 0 4px 6px rgb(0 0 0 / 10%), 0 1px 3px rgb(0 0 0 / 10%);
  background-color:#FEF9FF;
}
.trivia-quiz-countdown{
  text-align: center;
  font-size: 4rem;
}
.quiz-score{
  text-align: center;
  font-weight: 600;
  font-size: 2.1rem;
  font-weight: bold;
  width: 100px;
  height: 50px;
  margin: .5rem auto 1rem auto;
  color: var(--light-purple-color);
}
.quiz-question{
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.3;
  margin-bottom: 2rem;
}
.quiz-question .category{
  font-size: 0.9rem;
  font-weight: 500;
  background-color: var(--light-purple-color);
  color: var(--light-color);
  padding: .2rem .4rem;
  border-radius: .2rem;
  margin-top: 0.5rem;
  display: inline-block;
}
.quiz-options{
  list-style-type: none;
  margin: 1rem 0;
}
.quiz-options li{
  border-radius: 0.5rem;
  font-weight: 590;
  margin: .7rem 0;
  padding: .4rem 1.2rem;
  cursor: pointer;
  border: 3px solid var(--light-purple-color);
  background-color: var(--light-purple-color);
  color: var(--light-color);
  box-shadow: 0 4px 0 0 #6c4298;
  transition: var(--transition);
}
.quiz-options li:hover{
  background-color: var(--grey-color);
  color: var(--dark-color);
  border-color: var(--grey-color);
  box-shadow: 0 4px 0 0 #bbbbbb;
}
.quiz-options li:active{
    transform: scale(0.97);
}
/* FOR TRIVIA QUIZ JS*/
.selected{
  background-color: var(--grey-color)!important;
  color: var(--dark-color)!important;
  border-color: var(--grey-color)!important;
  box-shadow: 0 4px 0 0 #bbbbbb!important;
}
.quiz-foot button{
  border: none;
  border-radius: 0.5rem;
  outline: 0;
  font-family: 'Poppins', sans-serif;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5rem 1rem;    
  margin: 0 auto 0 auto;
  text-transform: uppercase;
  cursor: pointer;
  display: block;
  letter-spacing: 2px;
  transition: var(--transition);
  background-color: #EACBD2;
}
.quiz-foot button:hover{
  background-color: #DFAEB4;
}
.quiz-foot button:active{
  transform: scale(0.95);
}
#play-again{
  display: none;
}
#result{
  padding: .7rem 0;
  text-align: center;
  font-weight: 600;
  font-size: 1.3rem;
}
#result i{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  line-height: 30px;
  margin-right: .5rem;
  margin-bottom: .5rem;
  background-color: var(--light-purple-color);
  color: var(--light-color);
}
/*WHACK A MOLE PAGE*/
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 80%; /* Adjust the width according to your design */
  height: 100%;
  font-size: 20px;
  overflow: auto; /* Enable scroll if needed */
  background-color: rgba(0,0,0,0.4); /* Black with opacity */
}


.modal-content {
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 15px;
  border: 1px solid #888;
}

.close-button {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close-button:hover,
.close-button:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.wack-a-mole-container {
  margin-top: 100px;
  padding-top: 20px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align to the top of the remaining space */
  font-family: Arial, Helvetica, sans-serif;
  position: relative;
  background-color: rgb(58, 129, 0);
  color: #fff;
  cursor: none;
}
.whack-a-mole-score-countdown-container {
  display: flex;
  justify-content: space-between; /* Spread elements across the container */
  align-items: center;
  width: 100%;
}
.score {
  font-size: 4em;
  margin-bottom: .5em;
  margin-left: 40%;
}
.whack-a-mole-countdown {
  font-size: 4em;
  margin-bottom: .5em;
  margin-right: 20px;
  color: #000;
}
.board{
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 80px;
}
.hole{
  background-color: rgb(165, 85, 11);
  border-radius: 50%;
  box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
              inset 0 20px 20px 15px rgba(0, 0, 0, .3),
              0 0 5px rgba(0, 0, 0, .5);
  position: relative;
  overflow: hidden;
}
.hole .mole{
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  animation: rise .3s ease-out;
}
@keyframes rise {
  0%{
      transform: translateX(-50%) translateY(100%);
  }
  100%{
      transform: translateX(-50%) translateY(0);
  }
}
.cursor {
  height: 110px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-image: url('whack-a-mole/whack-a-mole-assets/hammer.png');
  background-size: 100% 100%;
  transform: translate(-20%, -20%);
  transition: transform .1s;
  pointer-events: none;
  z-index: 9999;
}
.cursor.active {
  transform: translate(-20%, -20%) rotate(-45deg);
  background-color: transparent;
}
/*SPEED TYPING PAGE*/
.entire-game-area{
  position:relative;
  width:100%;
  height:100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.speed-typing-game-container {
  min-height: 50vh;
  display:flex;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color:#181D27;
  font-weight: bold;
  box-sizing: border-box;
  flex-direction: column;
  background-color: #DBF7EE;
  border-radius: .5rem;
}
/* container for user input*/
.quote-container {
  background-color: #F9DAE7;
  padding: 1rem;
  border-radius: .5rem;
  max-width: 90%;
  margin: auto; /* This will center the container if its width is less than 100% of its parent */
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
  align-items: center; /* Align children (quote-display, quote-input) in the center */
}

.timer {
  margin-top: 40px;
  text-align: center;
  top: 2rem;
  font-size: 3rem;
  color: #E8AEB7;
  font-weight: bold;
}
.quote-display {
  margin-bottom: 1rem;
  margin-left: calc(1rem + 2px);
  margin-right: calc(1rem + 2px);
}

.quote-input {
  color:#181D27;
  font-weight: bold;
  background-color: transparent;
  border: 2px solid black;
  outline: none;
  width: 100%;
  height: 8rem;
  margin: auto;
  resize: none;
  padding: .5rem 1rem;
  font-size: 1rem;
  border-radius: .5rem;
}

.quote-input:focus {
  border-color: black;
}

.correct {
  color: #4DAA57;
}

.incorrect {
  color: red;
  text-decoration: underline;
}
/* "you have reached the limit of 10 plays per day" message */
#speed-typing-modal-header p {
  font-size: 16px;
  color:red;
  font-family: 'Open Sans', sans-serif;
  margin-bottom:10px;
}
#speed-typing-score h6{
  font-size: 20px;
}
/*DINOSAUR GAME PAGE*/
.dinosaur-game-container {
  display: flex;
  flex-direction: column;
  width: 800px;
  margin: 0 auto;
  justify-content: baseline;
  margin-top: 50px; /* Adjust this value as needed to push the canvas down */
}
#dino-info{
  margin-top:auto;
  color: red;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
}
#dinosaur-game-p{
  margin-bottom: auto;
}
canvas {
	width:100%;
	background: #eee;
	margin-top: 200px;
	/*background: #fff;*/
}
.controls {
	text-align: right;
	color: #aaa;
}
/*ALL GAMES SAME*/
/*LOTTIE BACKGROUND*/
.lottie-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; /* Ensures the animation is behind the quiz content */
}
/*SNAKE GAME PAGE*/
.snake-game-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Added for score positioning */
}
.snake-game-container {
  background: black;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative; /* Added for score positioning */
  max-width: 400px; /* Set the max-width to match the canvas width to prevent overflow */
  margin: auto; /* Center the container on the page */
  overflow: hidden; /* Hide any overflow */
}

.snake-game-canvas {
  margin-top: 0;
  background-color: black;
  border:1px solid white;
}

#score {
  font-family: 'Open Sans', sans-serif;
  position: absolute;
  top: 10px;
  right: 10px;
  color: white;
  font-size: 20px;
  padding: 5px;
  margin: 0;
}
/*GAME OVER MODAL*/
.modal {
  border-radius: 10px;
  display: flex; /* for responsiveness*/
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px; 
  height: auto; 
  background-color: #c997a2;
  overflow: hidden;
  display: none;
}

.modal-content {
  margin: 10% auto;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-header h3{
  font-size: 60px;
  font-family: 'Honk', system-ui;  
  color:black;
  margin-bottom: 30px;
}

.modal-close-btn {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.modal-body{
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  color:black;
}
/*COMPUTER*/
@media (max-width: 1700px) {
  /* Global styles */
  * {
    overflow-x: hidden; /* Hide horizontal overflow */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    padding: 0; 
    margin: 0;
  }
  /*FOR ALL PAGES*/
  /*TOP NAV*/
  #welcome-message{
    word-wrap: break-word;
  }
  .top-left-container{
    margin-left: 60px;
    margin-top: 20px;
  }
  .social-icons {
    margin-left: 0; /* Adjust left margin */
    margin-top: 15px; /* Adjust top margin */
  }

  /* Brand name */
  .brand-name {
    margin-left: 30%; /* Adjust left margin */
  }
  
  /*FOR ALL PRODUCTS*/
  .add-to-cart-btn {
    padding: 11px 70px; /* Reduced padding */
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    margin-top: 15px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 16px; /* Fixed font size */
    text-decoration: none;
    display: inline-block; /* Changed from block to inline-block */
    white-space: nowrap; /* Prevents wrapping */
    min-width: 120px; /* Ensures minimum width */
    text-align: center; /* Centers text */
}
  /*INDEX PAGE: SHOP BY CATEGORY*/
  .categories-container {
    display: flex; /* Use flexbox for layout */
    flex-direction: row; /* Align children (categories) horizontally */
    justify-content: center; /* Center children horizontally */
    flex-wrap: wrap; /* Allows categories to wrap to next line if they don't fit */
    text-align: center; /* Center text for all child elements */
  }

  .categories-container h2 {
    width: 100%; /* Make the header full width to force categories to the next line */
    order: -1; /* Place the header above the categories */
  }

  .category {
    flex-wrap: nowrap;
    display: flex; /* Use flexbox for category alignment */
    flex-direction: column; /* Align the category image and text vertically */
    align-items: center; /* Center-align items within each category */
    margin: 10px; /* Adjust margin for spacing between categories */
  }

  /* Category image */
  .category img {
    width: 200px; /* Adjust width as necessary */
    height: 200px; /* Adjust height as necessary */
    margin-bottom: 10px; /* Space between the image and the text label */
  }

  /* Category text label */
  .category h3 {
    margin-top: 0; /* Adjust top margin for the text label if necessary */
  }

  /* Sign-up container */
  .sign-up-container {
    margin: 0; /* Reset margin */
    width: 60%; /* Set width */
    height: auto; /* Set height to auto */
  }

  /* Social icon */
  .social-icon {
    height: 50px; /* Set height */
    width: auto; /* Set width to auto */
  }

  /* Button */
  .button {
    overflow: hidden; /* Hide overflow */
  }

  /* Adjusted sign-up container */
  .sign-up-container {
    width: 90%; /* Set width */
    height: auto; /* Set height to auto */
  }
  /* Buttons container */
  .buttons-container {
    overflow-y: hidden; /* Hide vertical overflow */
  }
  /*index pop up*/
  .popup-content{
    width:90%;
  }
  .popup-text h2{
    font-size: 30px;
    word-wrap: break-word;
  }
  
  #newsletter-submit{
    display: flex;
    justify-content:center;
    max-width: 100%;
  }
  /*LOGIN PAGE*/
.login-form{
  margin-left:30px;
}
}

/* WEIYING'S MONITOR*/
@media (min-width: 1608px){
  .social-icon{
    overflow-y: hidden;
  }
  .buttons-container{
    overflow-y: hidden;
  }
}
/*FOR SPECIFIC SIZES*/
@media (max-width: 400px){
  #mobile-brand-name{
  font-size: 16px;
}
}
@media(max-width:1500px){
  /*FOR ALL PAGES*/
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
   /* PROMOTION BAR */
   .promotion-bar {
    display: flex;
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    height: 100%; /* Ensure the container takes up the full height of its parent */
  }
  
  .promotion-bar p {
    font-size: 2vw;
  }
  .top-nav,.navbar{
    display: none; /* make the original topnav disappear*/
  }
  .brand-name h2{
    font-size: 5vw;
    margin-left: 20px;
  }
  /*HAMBURGER*/
  /*hamburger outlook*/
  #menuToggle
  {
    display: block;
    position: absolute;
    top: 5vw;
    left: 20px;
    z-index: 2;
    user-select: none;
    overflow-y: hidden;
  }
  
  #menuToggle a
  {
    font-family: 'Inter Tight', sans-serif;
    text-decoration: none;
    color: #232323;
    margin-left: 20px;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover
  {
    text-decoration: underline;
  }
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */
  }
  
  /*
   * Just a quick hamburger
   */
  /* Styles for the hamburger lines */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
   #menu {
    position: fixed;
    width: 50%;
    height: 100%; /* Full height of the viewport */
    background: #ededed;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    transition: left 0.3s;
    padding-top: 50px; /* Adjusted to your design */
    box-sizing: border-box; /* Include padding in the width */
  }
  #menuToggle input:checked ~ #menu {
    left:0;
    }
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
    margin-left: 20px;
  }
  
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  } 
  .mobile-icons{
    display: flex;
    justify-content: flex-end;
    margin-top:15px;
  }
  #mobile-brand-name{
    display: block;
    margin-top: 10px;
  }
  /* FOOTER CONTENT  */
  .about-section{
    margin:0;
    max-width: fit-content;
  }
  .about-section h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  .about-section p{
    font-size: 20px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-section {
    margin-bottom: 20px;
  }

  .footer-section h5,
  .footer-section ul li {
    font-size: 14px;
  }
  /*ALL PRODUCTS*/
  .filter-bar{
    display: none;
  }
  /* ALL GAMES PAGE */
  #dino-info{
    word-wrap: break-word;
    max-width:50%;
  }

}

/*MOBILE RESPONSIVENSS */
@media (max-width: 768px) {
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  /*FOR ALL PAGES*/
  nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

   /* PROMOTION BAR */
  .promotion-bar {
  display: flex;
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  height: 100%; /* Ensure the container takes up the full height of its parent */
  }
  
  .promotion-bar p {
    font-size: 20px;
  }
  .top-nav,.navbar{
    display: none; /* make the original topnav disappear*/
  }
  .brand-name h2{
    font-size: 35px;
    word-wrap: break-word;
  }
  /*HAMBURGER*/
  /*hamburger outlook*/
  #menuToggle
  {
    display: block;
    position: absolute;
    top: 45px;
    left: 20px;
    z-index: 2;
    user-select: none;
    overflow-y: hidden;
  }
  
  #menuToggle a
  {
    font-family: 'Inter Tight', sans-serif;
    text-decoration: none;
    color: #232323;
    transition: color 0.3s ease;
  }
  #menuToggle a:hover
  {
    text-decoration: underline;
  }
  #menuToggle input
  {
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    opacity: 0; /* hide this */
    z-index: 3; /* and place it over the hamburger */
  }
  /**TRY OUT/
  
  /*
   * Just a quick hamburger
   */
  /* Styles for the hamburger lines */
  #menuToggle span {
    display: block;
    width: 33px;
    height: 4px;
    position: relative;
    background: black;
    border-radius: 3px;
    z-index: 1;
    transform-origin: 4px 0px;
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
  }

  #menuToggle span:first-child
  {
    transform-origin: 0% 0%;
  }
  
  #menuToggle span:nth-last-child(2)
  {
    transform-origin: 0% 100%;
  }
  
  /* 
   * Transform all the slices of hamburger
   * into a crossmark.
   */
  #menuToggle input:checked ~ span
  {
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: #232323;
  }
  
  /*
   * But let's hide the middle one.
   */
  #menuToggle input:checked ~ span:nth-last-child(3)
  {
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
  }
  
  /*
   * Ohyeah and the last one should go the other direction
   */
  #menuToggle input:checked ~ span:nth-last-child(2)
  {
    transform: rotate(-45deg) translate(0, -1px);
  }
  
  /*
   * Make this absolute positioned
   * at the top left of the screen
   */
   #menu {
    position: fixed;
    width: 50%;
    height: 100%; /* Full height of the viewport */
    background: #ededed;
    top: 0;
    left: -100%; /* Start off-screen to the left */
    transition: left 0.3s;
    padding-top: 50px; /* Adjusted to your design */
    box-sizing: border-box; /* Include padding in the width */
  }
  #menuToggle input:checked ~ #menu {
    left:0;
    }
  #menu li
  {
    padding: 10px 0;
    font-size: 22px;
    margin-left: 20px;
  }
  
  /*
   * And let's slide it in from the left
   */
  #menuToggle input:checked ~ ul
  {
    transform: none;
  } 
  .mobile-icons{
    display: flex;
    justify-content: flex-end;
    margin-top:15px;
  }
  .icon-link,
  .icon-cart {
    font-size: 3vw; /* Adjust the font size as needed */
  }
  #mobile-brand-name{
    display: block;
    margin-top: 10px;
  }

  /* FOOTER CONTENT  */
  .about-section{
    margin:0;
    max-width: fit-content;
  }
  .about-section h1{
    display: flex;
    justify-content: center;
    font-size: 30px;
  }
  .about-section p{
    font-size: 20px;
  }
  .footer-content {
    flex-direction: column;
  }
  .footer-section {
    margin-bottom: 20px;
  }

  .footer-section h5,
  .footer-section ul li {
    font-size: 14px;
  }
  
  /* App download button */
  .app-download a img {
    height: 150px;
  }
  /*MOBILE: FOR ALL PRODUCT PAGES*/
  .filter-bar{
    display: none;
  }
   /* Adjust the product items to be two in a row on mobile */
   .product-page-product-carousel .product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; /* Adjust if you want more or less space between items */
  }

  .product-page-product-carousel .product-page-product {
    width: calc(50% - 10px); /* Take up half the width minus the margin */
    margin: 5px; /* Half of the actual space between items */
    display: flex; /* Enable flexbox */
    flex-direction: column; /* Stack children vertically */
    justify-content: space-between; /* Align children with space between */
  }

  /* Align the Add to Cart button at the bottom */
  .product-page-product {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%; /* New line */
    margin-bottom: 20px; /* Added space between products */
  }

  .product-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 50px); /* New line, adjust as needed */
  }

  .add-to-cart-btn {
    width: 100%; /* To ensure it spans the full width of the container */
  }

  .color-options {
    display: flex; /* Ensure color options are in a row */
    justify-content: center; /* Center the color options */
    margin-bottom: 10px; /* Space above the 'Add to Cart' button */
  }

  .color-option {
    margin: 0 5px; /* Space between color options */
    width: 20px; /* Size of color options */
    height: 20px; /* Size of color options */
    border-radius: 50%; /* Make them circular */
  }
  /* MOBILE: INDEX PAGE*/
  /*index pop up*/
  .popup-content{
    width:90%;
  }
  .popup-text h2{
    font-size: 30px;
    word-wrap: break-word;
  }
  
  #newsletter-submit{
    display: flex;
    justify-content:center;
    max-width: 100%;
  }
  .no-thanks-btn {
    max-width: 100%; /* Adjust width as needed, could be 100% or auto */
    justify-content: center; /* Center the button text if using flex */
    padding: 10px 20px; /* Add padding to increase the size if needed */
    /* Rest of your styles */
  }
  /* Slideshow container */
  .slideshow-container {
    margin-top: 30px;
  }
  .above-footer{
    height:70%;
  }
  .rewards-link,
  .leaderboard-link{
    margin:0;
    font-size: 20px;
  }
  .leaderboard-link{
    height:40%;
  }
  /* index product page*/
  .product-carousel .product {
    flex: 0 0 calc(50% - 10px); /* Adjusts the width to be half of the container minus some margin */
    margin: 5px; /* Provides space between the products */
  }
  .product-carousel .product-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .product-info{
    height:250px;
  }
  
  /*index promo container*/
  .promo-card img{
    width:80%;
    height:auto;
  }
  .promo-code, .promo-card a{
    font-size: 20px;
  }
  /*index promo container*/
  .promo-card img{
    width:80%;
    height:auto;
  }
  .promo-code, .promo-card a{
    font-size: 20px;
  }
  .product{
    position: relative;
  }
  /*MOBILE: ALL GAMES PAGE*/
  /* ALL GAMES PAGE */
.games-container {
  text-align: center;
  padding: 50px 0;
}

.games-container h2 {
  margin-bottom: 60px;
  font-size: 50px;
  font-family: 'Arial', sans-serif; /* Change to your preferred font */
}

.game {
  display: flex;
  flex-direction: column; /* Stack the children vertically */
  align-items: center; /* Horizontally center the children in a column */
  gap: 20px;
  text-decoration: none;
}

.game img {
  margin-top: 20px; /* Adjust the margin to control the distance between the image and the text */
  width: 55%; /* Adjust width as needed */
  height: auto; /* Adjust height as needed */
  border-radius: 50%; /* Make the image round */
  border: 4px solid black; /* Border for the image */
  transition: transform 0.3s ease; /* Animation for hover effect */
}

.game img:hover {
  transform: scale(1.1); /* Enlarge the image to 110% of its original size */
}

.game p {
  display: block;
  margin-top: 10px;
  margin-bottom: 20px; /* Adjust the margin to control the distance between the text and the next game */
  font-size: 24px; /* Font size for the text below the image */
  color: #000;
  font-family: 'Arial', sans-serif; /* Change to your preferred font */
  font-weight: 600;
}
/* MOBILE: FOR ALL GAMES - MODAL */
.modal-content {
  width: 90%;
}
/*MOBILE: WHACK A MOLE*/
/* Adjust the position of the score container */
.whack-a-mole-score-countdown-container {
  display: flex;
  justify-content: space-between; /* Align items with space between them */
  align-items: center; /* Align items vertically */
  padding: 10px; /* Add padding as needed */
}

/* Adjust the position of the score text */
.score {
  margin: 0; /* Reset margin */
}

/* Adjust the position of the countdown */
.whack-a-mole-countdown {
  margin: 0; /* Reset margin */
}

/* Adjust the position of the score text container */
.whack-a-mole-score-countdown-container .score {
  order: 1; /* Move the score text to the left */
}

/* Adjust the position of the countdown container */
.whack-a-mole-score-countdown-container .whack-a-mole-countdown {
  order: 2; /* Move the countdown to the right */
}

/* MOBILE: TRIVIA QUIZ */
.quiz-container .wrapper {
  width: 90%;
  height: auto;
  padding: 1rem;
}
/* Quiz elements */
.quiz-title,
.quiz-question,
.quiz-options li {
  font-size: smaller;
}
.lottie-background{
  display: none;
}
.quiz-container{
  position: relative;
}
}