* {
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background-color: rgb(58, 129, 0);
  color: #fff;
  display: flex;
  flex-direction: column;
  cursor: none;
}
/* POSITIONING */
/* Ensure the promotion bar is at the top */
.promotion-bar {
  background-color: black;
  color: white;
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
}

/* Adjust the top-nav and navbar positioning */
.top-nav, .navbar {
  position: relative;
}

/* Adjust the top-nav-icons */
.top-nav-icons {
  display: flex;
  align-items: center;
  margin-right: 20px; /* Align to the right */
}

/* Adjust the navbar */
.navbar {
  position: relative; /* Ensure it's in the normal flow */
}

/* Ensure the game container is below the top navigation */
.wack-a-mole-container {
  position: relative;
}


/* TOP NAV */
.promotion-bar {
  background-color: black;
  color: white;
  height: 30px;
  width: 100%;
  text-align: center;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  /*z-index: 10; /* Keep it on top */
}

.top-nav {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 0 20px; /* Add padding on sides */
  /*z-index: 5; /* Ensure it's above the game */
  height: 350px;
}

.brand-name {
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 55px;
  color: #000;
  text-decoration: none; /* Remove underline */
  margin-left: 500px;
}

.top-nav-icons {
  display: flex;
  align-items: center;
}

.search-container {
position: relative;
}

.search-box {
display: flex;
align-items: center;
}

.search-input {
border: 1px solid #ccc;
padding: 5px 10px;
border-radius: 5px;
}

.search-button {
background: none;
border: none;
padding: 5px 10px;
cursor: pointer;
outline: none;
background-color: transparent;
}

/* Icon styling */
.icon-link {
text-decoration: none;
color: #000;
font-size: 30px; /* Adjust size as needed */
margin: 0 10px; /* Add space between icons */
}

.icon-link:hover {
color: #555; /* Change color on hover */
}
/* Navbar container */
.navbar {
  background-color: white;
  display: flex;
  justify-content: center;
  padding: 0 35px; /* Space between the categories */
  z-index: 5; /* Ensure it's above the game */
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 28px;
  color: black;
  padding: 14px 16px;
  text-decoration: none;
  margin: 0 35px; /* Space between the diff categories */
  font-family: 'Inter Tight', sans-serif;
}

/* The dropdown container */
.dropdown {
  float: left;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 28px;
  border: none;
  outline: none;
  color: black;
  padding: 14px 16px;
  background-color: white;
  margin: 0 35px; /* Space between the diff categories */
  font-family: 'Inter Tight', sans-serif;
}

/* Add a red background color to navbar links on hover */
.navbar a:hover, .dropdown:hover .dropbtn {
  color: #757575;
}

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Add a grey background color to dropdown links on hover */
.dropdown-content a:hover {
  background-color: transparent;
  text-decoration: underline;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* WACK A MOLE GAME*/

.wack-a-mole-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Align to the top of the remaining space */
  padding-top: 20px; /* Add some space between navbar and game */
  width: 100%;
}

.score-countdown-container {
  display: flex;
  justify-content: space-between; /* Spread elements across the container */
  align-items: center;
  width: 100%;
}

.score {
  font-size: 4em;
  margin-bottom: .5em;
  margin-left: 40%;
}

#countdown {
  font-size: 4em;
  margin-bottom: .5em;
  margin-right: 20px;
  color: #000;
}


.board{
  height: 600px;
  width: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 80px;
}
.hole{
  background-color: rgb(165, 85, 11);
  border-radius: 50%;
  box-shadow: inset 0 10px 0 7px rgb(53, 21, 6),
              inset 0 20px 20px 15px rgba(0, 0, 0, .3),
              0 0 5px rgba(0, 0, 0, .5);
  position: relative;
  overflow: hidden;
}
.hole .mole{
  width: 70%;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 0;
  animation: rise .3s ease-out;
}
@keyframes rise {
  0%{
      transform: translateX(-50%) translateY(100%);
  }
  100%{
      transform: translateX(-50%) translateY(0);
  }
}

.cursor {
  height: 110px;
  width: 100px;
  position: absolute;
  top: 100px;
  left: 100px;
  background-image: url('whack-a-mole-assets/hammer.png');
  background-size: 100% 100%;
  transform: translate(-20%, -20%);
  transition: transform .1s;
  pointer-events: none;
  z-index: 9999;
}

.cursor.active {
  transform: translate(-20%, -20%) rotate(-45deg);
}

/* GAME OVER POP UP */
.logo-no-bg {
  justify-content: center;
  width: auto;
  height: 200px;

  /* Reset background image for cursor inside modal */
  .cursor.inside-modal {
      display: none;
  }
}

.modal {
  display: none;
  border-radius: 10px;
  display: flex; /* for responsiveness*/
  position: fixed;
  z-index: 1000;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  max-width: 500px; 
  height: auto; 
  background-color: pink;
  overflow: hidden;
}

.modal-content {
  margin: 10% auto;
  border-radius: 5px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

.modal-header h3{
  font-size: 60px;
  font-family: 'Honk', system-ui;  
  color:black;
}

.modal-body{
  margin-top:20px;
  font-size: 25px;
  font-family: 'Open Sans', sans-serif;
  color:black;
}
.modal-close-btn {
  padding: 10px 20px;
  background-color: purple;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
/*FOOTER*/
.above-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  
}

.sustainability-mission,
.rewards-program {
  flex: 1; /* Each box will take up an equal amount of space */
  display: flex;
  justify-content: center; /* Centers the content horizontally */
  align-items: center; /* Centers the content vertically *//
}

.learn-more{
  display: block;
  background-color: #fff0f7; /* Your choice of color */
  padding: 78px;
  font-size: 45px;
  text-decoration: none;
  color: #333; /* Your choice of text color */
  font-weight: bold;
  margin: 20px;
}

/* This is for the rewards link to not stretch beyond its content */
.rewards-link {
  display: block;
  background-color: #ffffe6 ;
  padding: 78px;
  font-size: 45px;
  text-decoration: none;
  color: #333; /* Your choice of text color */
  font-weight: bold;
  margin: 20px;
}



.site-footer {
  background-color: white;
  font-family: 'Inter Tight', sans-serif;
}

.footer-top {
  text-align: center;
}

.footer-divider {
  width: 100%;
  border: 1px solid #000; /* Adjust the thickness and color as needed */
}

.footer-content {
  color:black;
  display: flex;
  justify-content: space-around; /* Spreads out the sections */
  align-items: start;
  padding: 20px;
  margin-left: 55px;
  margin-top: 20px;
}

.footer-section h5 {
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bolder;
}

.footer-section ul {
  list-style: none;
  padding: 0;
  font-size: 14px;
  font-family: 'Poppins', sans-serif;
}

.footer-section ul li{
  text-decoration: none;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

.footer-section ul li:hover {
  text-decoration: underline;
}

.app-download a {
  position: relative;
  display: inline-block;
  text-decoration: none;
  color: black;
  border-radius: 20px;
  background-color: white;
  text-align: center;
}

.app-download a img {
  height: 230px;
  width: 220px;
}


.qr-code {
  display: none;
  position: absolute;
  width: 20px; 
  height: 20px; 
  top: -100%; /* Position the QR code just ABOVE the button */
  left: 5%; /* Center horizontally */
  transform: translate(-50%, 0); /* Center based on its own size */
  transform: translateX(-50%);
  border-radius: 20px;
}



.footer-section-sign-up h5{
  color: #000;
  margin-bottom: 10px;
  text-transform: uppercase;
  font-size: 19px;
  font-weight: bolder;
}

.footer-section-sign-up h6{
  color:black;
  margin-bottom: 10px;
  font-size: 15px;
  font-family: 'Poppins', sans-serif;
  max-width: 85%;
  font-weight: lighter;
}


.footer-section-sign-up form {
  align-items: center; /* Aligns items vertically */
}

.footer-section-sign-up form input,
.footer-section-sign-up form button {
  margin: 0; /* Removes default margin */
  padding: 9px;
}

.footer-section-sign-up form input {
  margin: 5px; /* Adds some space between the input and the button */
}

.footer-bottom {
  background: #fff; 
  border-top: 1px solid #ccc; 
  padding: 20px 0;
}

.country-notice {
  font-size: 20px;
  margin-left: 0px; /* Adjust the value as needed */
}
.social-icons {
  display:flex;
  justify-content: center;
  color: #000;
  margin-left: 0px;
  margin-top: 15px;
}

.social-icon {
  margin: 8px; /* Adjust the margin as needed */
}  

.legal-links {
  text-align: center;
  margin-top: 20px;
}

.legal-links p {
  text-decoration: none;
  color: #000;
  font-size: 14px;
}  

.legal-links p:hover {
  text-decoration: underline;
}

